body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
	
  
}

element.style {
    float: right;
	margin-right: 5em;
    margin-left: 7em;
	
}

.container {
	background-color:dimgrey;
    margin: 200px;
    box-shadow: 10px 15px 90px rgb(255 183 71 / 50%);
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 30px;
}

.container-time {
	background-color: rgba(0, 0, 0, 1);
	padding: 50px;
	outline: 3px dashed #998100;
	outline-offset: -30px;
	text-align: center;
}
.heading {
	font-size: 35px;
	text-transform: uppercase;
	border:0px;
	color:white;
}


.heading-days {
	color:#998100;
	font-size: 30px;

}

.heading-phone {
	font-size: 20px;
}
.container-form {
	padding: 20px 0;
	margin: 0 auto;
	color: #000;
	background-color: rgba(255, 255, 255, 0);
	
		
}
input[type=text] {
  background-color: dimgrey;
  color:white;
  border-left:lightyellow;
  border-color:lightyellow;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

form {
	display: grid;
	grid-row-gap: 30px;
}
form p {
	font-weight: 600;
	margin-left: 5px;
}
.form-field {
	display: flex;
	justify-content: space-between;
	box-shadow: 11px 10px 30px rgba(255, 240, 31 );
	border-radius:10px;
	border: 1px solid #ffff;
}

input,select {
	pad: 10px 15px;
	border-radius:10px;
	background-color: dimgrey;
	color:white;
	border-left:lightyellow;
	border-color:lightyellow;
}

.btn {
	background-color: rgba(0, 0, 0, .70);
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .2);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

.btn:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	box-shadow: 10px 12px 15px rgba(12, 0, 0, .3);
}
